* {
    font-family: 'Raleway', sans-serif;
}
body {
    background-color: violet;
}

#quote-box{
    background-color: white;
    width: 40%;
    height: 40%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    border-radius: 5px;
}

#text {
    
    font-size: 30px;
    font-weight: 500;
    margin: auto;
    /* border: 1px solid black; */
    text-align: center;
    padding: 2rem;

}

#author {
    display: flex;
    justify-content: end;
    
}

#tweet-quote {
    height: 2.5rem;
    width: 3rem;
    font-size: 170%;
    text-align: center;
}

#new-quote {
    height: 2.5rem;
    width: 7rem;
    font-size: large;
    font-weight: 500;
}

#new-quote:hover {
    background-color: blue;
    cursor: pointer;
}

#buttons {
    display: flex;
    justify-content: space-between;

}

#quote-logo {
    display: inline-flex
}